*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body, html {
    height: 100%;
  }
  body{
    /* background-image: url(assets/about_us.jpg)!important; */
    background-image: url(assets/tanzania.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    /* The image used */

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
    .nav li a{
    color: white; 
}
#logo{
    max-height: 50px;
    max-width: 100%;
}

#first {
    background-color: #dddddd;
    margin-top: 93vh;
    color: black;
   font-family: 'Raleway', sans-serif;
   line-height: 2;
}
#first h1 {
    margin-top: 70px;
}
#second {
    padding: 10px 0 10px 0;
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;
}
#second h1 {
    margin-top: 70px;
}
.round {
    width: 200px;
    height: 200px;
    background-color: rgb(143, 143, 143);
    margin-bottom: 20px;
}
.icon {
    margin-top: 60px;
    color: white;
    font-size: 5rem !important;
}
.btn {
    margin-bottom: 60px!important;
}
.gray-text {
    color:#D1D0D0 ;
}

nav{
    position: fixed;
}

#slogan{
margin-top: 38vh;
font-size: 55px; 
}
#second img {
    margin-bottom: 80px!important;
}
#third h1 {
    margin-top:70px;
}
#third{ 
    background-color: #dddddd;  
    color: black;
    font-family: 'Raleway', sans-serif;
    line-height: 2;
    padding: 0 0 30px 0;
}

.carousel-inner img{
    filter: brightness(60%);
    }
#carousel {
    margin-bottom: 60px;
}
.availability {
    width: 100px;
    height: 60px;
    background-color:rgb(43, 167, 29);
    margin-bottom: 20px;
    border-radius: 10px;
    margin: 0 0 0 10px;
}
.availability p {
    margin-top: 5px;
}
.unavailable {
    width: 300px;
    height: 60px;
    background-color:rgb(167, 34, 29);
    margin-bottom: 20px;
    border-radius: 10px;
    margin: 0 0 0 10px;
}
.unavailable p {
    margin-top: 5px;
}
@media only screen and (max-width: 768px) {
    #slogan {
        margin-top: 25vh;
    }
}

