*{
    padding: 0;
    margin: 0;
}
body, html {
    height: 100%;
  }
body{
    background-image: url(Assets/Home_background.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.nav li a{
color: white; 
}

#logo{
max-height: 50px;
max-width: 100%;
}


#mainContainer{
margin-top: 20vh;
}

#sloganText{
    
    
}

.carousel-inner img{
filter: brightness(60%);
}

